@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.my-card-columns {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 1159.98px) {
    column-count: 1;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 1160px) and (max-width: 1749.98px) {
    column-count: 2;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1750px) {
    column-count: 3;
  }
}
